.book-list {
    display: grid;
}

.book-display {
    text-align: left;
}

.book-display + .content {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}

.book-field-row {
    display: grid;
    grid-template-columns: 200px 200px;
}

.book-field-input.author {
    display: grid;
    grid-template-columns: 50% 50%;
}

.author-container {
    display: flex;
}

.hidden, .book-field-input.author.hidden {
    display: none;
}

.invalid {
    display: none;
}